.page {
  color: var(--text-color);
  font-family: var(--font), Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  align-content: space-between;
  padding: var(--decorated-zone-padding);
  min-block-size: var(--decorated-zone-height);
}
