:root {
  --bg-color: #000028;
  --main-title-text-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: var(--accent-color);
  --shadow-color: var(--accent-color);
  --text-color: #F1B2CE;
  --text-title-decor-color: var(--bg-color);
  --hover-border-color: rgba(255, 0, 112, 0.40);
  --display-rec-picture: block;
  --bg-image: url('../images/cover-image-dark.png');
  --header-column-width: 30.73vw;
  --main-font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --standard-gap: 10px;
  --big-gap: 20px;
  --font: 'IBM Plex mono';
  --big-line-height: 130%;
}

@media(width >= 768px) {
  :root {
    --menu-margin-top: 0.88vh;
    --title-margin-top: 3.42vh;
  }
}

@media (width >= 1024px) or (height < 668px) {
  :root {
    --menu-margin-top: 0;
    --title-margin-top: 24.09vh;
  }
}